.star-image {
  height: 10px;
}

.button1 {
  background-color: transparent;
  border-width: 0px;
}

.color1 {
  background-color: #94a3b8;
}
.color2 {
  background-color: #b6c3ca;
}
.color3 {
  background-color: #7683cb;
}
.color4 {
  background-color: #f59e0b;
}
.color5 {
  background-color: #10b981;
}
.color6 {
  background-color: #f97316;
}
.color7 {
  background-color: #14b8a6;
}
.color8 {
  background-color: #b91c1c;
}
